ul {
  /* 去除小黑点 */
  list-style-type: none;
  /* 去除默认的外边距 */
  margin: 0;
}
a {
  /* 去掉下划线 */
  text-decoration: none;
}
p{
  margin: 0;
}

body {
  /* 统一控制页面的默认字体大小，行高，字体类型，文字颜色 */
  font: 14px/1.5 "微软雅黑";
  color: #000;
}
